*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

body{
    background: url("../images/login-bg-lg.png");
    height: 100vh;
    padding: 20px 8%;
}

.wrapper{
display: flex;
flex-direction: column;
row-gap: 20px;
}


header img{
    width: 250px;
}